appdirs==1.4.4
astroid==2.5.6
click==7.1.2
colorama==0.4.4
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
isort==5.8.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
pylint==2.8.2
six==1.15.0
toml==0.10.2
virtualenv==20.4.4
virtualenvwrapper-win==1.2.6
Werkzeug==1.0.1
wrapt==1.12.1
