<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>当前虚拟环境：{{vname}}
    <a href="/">返回</a><br>
    </p>
    <form action="" method="post">
        <p>sitepackage:<input type="text" name="name">
        <input type="submit" name="install" value="安装">
        </p>
    </form>
    第三方库(sitepackages)列表<br>
    {% for info in p_info %}
    {{info.p_name}}&nbsp{{info.p_version}}&nbsp<a href="/uninstall/{{vname}}/{{info.p_name}}">删除</a><br>
    {%endfor%}<br><br>
<!--    <form action="" enctype='multipart/form-data' method='POST'># 删除此功能-->
<!--        <input type="file" name="file">-->
<!--        <input type="submit" name="upload" value="上传">-->
<!--    </form>-->
</body>
</html>